*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 100%;
    max-height: 100%;
    font-family: 'Roboto', sans-serif;
}

/* general style */
ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    cursor: pointer;
}

h3{
    color: #f36137;
}

.container{
    max-width: 1500px;
    margin:0 auto;
    /* position: relative; */
}

.row{
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section{
    max-width: 100%;
    position: relative;
}

/* general style for button WHITE-ORANGE-DARK  */
/* white button */
.btn-white {
    width: 300px;
    background-color: white;
    padding: 20px 40px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.btn-white a {
    color: #0b0e10;
    font-size: 18px;
    font-weight: bold;
}

.btn-white:hover{
    background-color: #040543;
}

.btn-white:hover a{
    color: white;

}

/* orange button */
.btn-orange{
    width: 300px;
    background-color: #f36137;
    padding: 20px 40px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.btn-orange a{
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.btn-orange:hover {
    background-color: rgb(255, 153, 85);
}

/* dark button */
.btn-dark{
    width: 250px;
    background-color: #040543;
    padding: 20px 40px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.btn-dark a{
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.btn-dark:hover{
    background-color: white;
}

.btn-dark:hover a{
    color: #040543;
}

/* scroll indicator dev in Js */
#scrollIndicator{
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    background-color: rgb(255, 153, 85);
    box-shadow: 0 0 20px rgba(255, 153, 85, 0.5);
    z-index: 10;
}

/* start style header (similar to Footer-top) */
header, .footer-top{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header-bg{
    background-color: #0f1164;
    background-image: url("img/header-bg.svg");
    background-repeat: no-repeat;
}

.header-left, .header-right, .footer-left, .footer-right {
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.logo-header{
    margin-left: 60px;
}

.menu-header, .menu-footer{
    margin-left: 80px;
}

.hamb-menu-header{
    display: none;
}

.list-menu{
    display: flex;
}

.list-menu li:nth-child(3) a:after{
    content: "∇";
    color: white;
    font-size: 14px;
    margin-left: 5px;
}

.list-menu li{
    padding: 10px 20px;
    color: white;
}

.list-menu li a{
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: bold;
    color: white;
    padding-bottom: 10px;
}

.list-menu li:hover a{
    cursor: pointer;
    border-bottom: 2px solid white;
}

.info-number{
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-right: 60px;
}

.info-number i {
    margin-right: 10px;
}

/* first section*/
main .top-page{
    background-color: #0f1164;
    background-image: url("img/home-bg-3.svg");
    background-size: cover;
}

.title{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 100px;
}

.title h1{
    font-size: 60px;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
}

.title p{
    font-size: 25px;
    color: white;
    padding: 50px 50px;
}

.img-top-page img{
    border-radius: 10px;
    position: relative;
    top: 30px;
    object-fit: cover;
}

.widget{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.widget-top, .widget-bottom{
    width: 70px;
    height: 70px;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

.widget-top i{
    font-size: 30px;
    margin-top: 10px;
    color: #676b8b;
}

.widget-top p{
    font-size: 14px;
    color: #676b8b;
}

#widget-price span{
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 10%;
}

#widget-price{
    font-size: 24px;
    color: green;
    font-weight: bold;
    position: relative;
}


/* second section - Available service */
.available-services h3{
    padding-top: 100px;
    margin-bottom: 30px;
    font-size: 22px;
}

.box-services{
    padding: 50px;
    border-top: 3px solid rgb(235, 235, 235);
    border-right: 3px solid rgb(235, 235, 235);
}

.box-services:last-child{
    border-right: none;
}

.box-services h2{
    font-size: 40px;
    color: #040543;
}

.box-services p{
    font-size: 20px;
    color: #040543;
    margin-top: 20px;
}


/* third section - find-va */
.find-va{
    margin-top: 100px;
    position: relative;
}

.title-dark{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    margin-bottom: 50px;
}

.title-dark h1{
    font-size: 50px;
    font-weight: bold;
    color: #040543;
    letter-spacing: 1px;
    padding-top: 50px;
}

.title-dark p{
    font-size: 25px;
    color: #040543;
    padding: 50px 50px;
}

/* fourth section - SKILL  */
.skill{
    background-color: #0f1164;
    background-image: url("img/info-bg-3.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 150px;
    position: relative;
}

.skill img{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

#dec-bg{
    width: 100%;
    position: absolute;
    top: 0;
    right: 20px;
}

.title-skill{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.title-skill p{
    font-size: 20px;
    margin-bottom: 40px;
}

.title-skill h1{
    margin-bottom: 40px;
    font-size: 60px;
}

.card{
    color: white;
    background-color: #040543;
    border-radius: 5px;
    padding: 60px;
    margin: 100px 40px;
    display: flex;
    min-height: 300px;
}

.card span{
    font-size: 40px;
    font-weight: bold;
}

.card-text{
    margin-left: 25px;
}

.card-text p{
    font-size: 20px;
    margin-bottom: 20px;
}

.card-text a{
    font-size: 20px;
    font-weight: bold;
    color: #f36137;
    text-decoration: underline;

}

/* fifth section - brand */
.brand h3{
    text-align: center;
    padding-top: 100px;
    margin-bottom: 30px;
    font-size: 20px;
}

#img-brand{
    margin-bottom: 80px;
}

.card-bg {
    background-color: #0f1164;
    max-width: 600px;
    margin-top: 100px;
}

#bg-first{
    background-image: url("img/box-bg-1.svg");
    background-repeat: no-repeat;
    background-position-y: bottom;
}

#bg-second{
    background-image: url("img/box-bg-2.svg");
    background-repeat: no-repeat;
    background-position-x: right;
}

.card-bg p:first-child{
    font-size: 22px;
    font-weight: bold;
}

/* FOOTER */
.footer-bg{
    background-color: #0f1164;
    background-image: url("img/footer-bg-1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    padding-top: 50px;
    padding-bottom: 100px;
    position: relative;
}

.footer-bottom{
    max-width: 50%;
    padding-left: 60px;
}

.footer-bottom h2{
    color: white;
    font-size: 40px;
    margin-bottom: 40px;
}

.footer-bottom p{
    color: white;
    font-size: 12px;
    margin-top: 40px;
}

.footer-bottom p span{
    color: #f36137;
}

.chat{
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 10px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* widget chat */
.icon-chat{
    background-color: #f36137;
    border-radius: 50%;
    padding: 20px;
    position: relative;
    cursor: pointer;
}

.icon-chat i{
    color: white;
    font-size: 30px;
}

.mex-chat{
    width: 200px;
    height: 180px;
    border: 1px solid;
    border-radius: 10px;
    position: absolute;
    top: -180px;
    left: -150px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 25px;
    display: none;
}
/* add whit Vuejs */
.active{
    display: block;
}

.hidden{
    display: none;
}

.mex-chat p{
    color: #0b0e10;
}

.mex-chat img{
    width: 50px;
    position: absolute;
    top: -40px;
    left: calc( 50% - 25px );
}

.mex-chat i{
    position: absolute;
    top: 0;
    right: 0;
    color: gray;
    padding: 10px;
    font-size: 14px;
}


/*  add media query for responsive page */

/* media 1450px  */
@media screen and (max-width: 1450px){

    .info-number{
        display: none;
    }

    .widget-top, .widget-bottom{
        display: none;
    }

}

/* media 1270px */
@media screen and (max-width: 1270px) {

    .row{
        flex-wrap: wrap;
    }

    .menu-header{
        display: none;
    }

    .menu-footer li{
        padding: 10px 5px;
    }

    .menu-footer li a{
        font-size: 16px;
    }

    .hamb-menu-header{
        display: block;
        font-size: 30px;
        color: white;
        cursor: pointer;
        margin-left: 50px;
        position: relative;
    }

    .hamb-list{
        width: 200px;
        height: 200px;
        background-color: #040543;
        position: absolute;
        top: -65px;
        border-radius: 10px;
        border: 1px solid white;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 10;
    }

    .hamb-list li{
        text-align: center;
    }

    .hamb-list li a {
        font-size: 14px;
        text-decoration: none;
        color: white;
    }

    .hamb-list li a:hover{
        text-decoration: underline;
        color: white;
    }

    .title{
        padding: 0;
    }

    .box-services{
        border: none;
        padding: 50px;
        text-align: center;
    }

    .available-services h3{
        text-align: center;
    }

}

/* media 992px */
@media screen and (max-width: 992px){
    .menu-footer{
        display: none;
    }
}

/* media 748px */
@media screen and (max-width: 748px) {

    .btn-white, .btn-orange, .btn-dark {
        width: 200px;
        padding: 10px;
    }

    .btn-white a, .btn-orange a, .btn-dark a {
        font-size: 14px;

    }

    img{
        max-width: 100%;
    }

}
