*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Didact Gothic', sans-serif;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    cursor: pointer;
}

h3{
    color: #f36137;
}

/* #orange-ball{
    width: 200px;
    height: 200px;
    background-color: #f36137;
    border-radius: 50%;
    position: absolute;
    top: -100px;
    right: -120px;
} */

/* .btn{
    padding: 20px;
    border-radius: 10px;
    text-align: center;
} */



header{
    width: 100%;
    height: 200px;
    background-color: #0f1164;
    background-image: url("img/header-bg.svg");
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* #img-bg-header{
    position: absolute;
    top: -40px;
    z-index: 10;
} */

.header-left, .header-right {
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.logo-header{
    margin-left: 60px;
}

.menu-header{
    margin-left: 80px;
}

.list-menu{
    display: flex;

}

.list-menu li{
    padding: 10px 20px;
    color: white;
}

.list-menu li a{
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: bold;
    color: white;
    padding-bottom: 10px;
}

.list-menu li:hover a{
    cursor: pointer;
    border-bottom: 2px solid white;
}

.info-number{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-right: 60px;
}

.info-number i {
    margin-right: 10px;
}

.btn-white {
    width: 300px;
    background-color: white;
    padding: 20px 40px;
    border-radius: 5px;
    text-align: center;
}

.btn-white a {
    color: #0b0e10;
    font-size: 18px;
    font-weight: bold;
}


/* prima sezione */
.container{
    max-width: 1500px;
    margin:0 auto;
    position: relative;
}

.row{
    display: flex;
}

section{
    position: relative;
    padding-top: 40px;
}

main .top-page{
    background-color: #0f1164;
    background-image: url("img/home-bg-3.svg");
    background-size: cover;
}

.title{
    margin-right: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title h1{
    font-size: 60px;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
    padding-top: 100px;
}

.title p{
    font-size: 25px;
    color: white;
    padding: 50px 50px;
}

.img-top-page img{
    border-radius: 10px;
    position: relative;
    top: 30px;
    object-fit: cover;
}

.widget{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.widget-top, .widget-bottom{
    width: 70px;
    height: 70px;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

.widget-top i{
    font-size: 30px;
    margin-top: 10px;
    color: #676b8b;
}

.widget-top p{
    font-size: 14px;
    color: #676b8b;
}

#widget-price span{
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 10%;
}

#widget-price{
    font-size: 24px;
    color: green;
    font-weight: bold;
    position: relative;
}


/* sezione Available service */

.available-services h3{
    padding-top: 60px;
    margin-bottom: 30px;
    font-size: 22px;
}

.box-services{
    padding: 50px;
    border-top: 3px solid lightgray;
    border-right: 3px solid lightgray;
}
.box-services:last-child{
    border-right: none;
}

.box-services h2{
    font-size: 40px;
    color: #040543;
}

.box-services p{
    font-size: 20px;
    color: #040543;
    margin-top: 20px;
}


/* sezione find-va */

.find-va{
    margin-top: 100px;
    position: relative;
}

.title-dark{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    /* margin-top: 100px; */
}

.title-dark h1{
    font-size: 60px;
    font-weight: bold;
    color: #040543;
    letter-spacing: 1px;
    padding-top: 50px;
}

.title-dark p{
    font-size: 25px;
    color: #040543;
    padding: 50px 50px;
}

.btn-orange{
    width: 300px;
    background-color: #f36137;
    padding: 20px 40px;
    border-radius: 5px;
    text-align: center;
}

.btn-orange a{
    color: white;
    font-size: 18px;
    font-weight: bold;
}

/* sezione SKILL  */

.skill{
    background-color: #0f1164;
    padding-top: 150px;
    position: relative;
}

.skill img{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

#dec-bg{
    width: 100%;
    position: absolute;
    top: 0;
    right: 20px;
}

.title-skill{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.title-skill p{
    font-size: 20px;
    margin-bottom: 40px;
}

.title-skill h1{
    margin-bottom: 40px;
    font-size: 60px;
}

.card{
    color: white;
    background-color: #040543;
    border-radius: 5px;
    padding: 60px;
    margin: 80px 40px;
    display: flex;
}

/* .row-bg{
    background-color: #0f1164;
    background-image: url("img/info-bg-3.svg");
} */

.card span{
    font-size: 40px;
}

.card-text{
    margin-left: 25px;
}

.card-text p{
    font-size: 20px;
    margin-bottom: 20px;
}

.card-text a{
    color: #f36137;
    text-decoration: underline;

}
